$background-grey: #f3f3f3;

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.3rem;
  background-color: $background-grey;
}

span {
  color: #f3f3f3;
}

div {
  background-color: red;
}
